<div class="container pt-5 ">
    <div class="row pt-5">
        <div class="col-sm-7">
            <div class="row d-block">
                <div class="card m-3">
                    <h5 class="card-header text-primary">Flight Details</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="card col-sm-12 mt-3">
                                <div class="card-body col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <h5 class="card-title text-info">Flight</h5>
                                            <span class="card-title">{{paramDetails.flightName}}</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <h5 class="card-title text-info">Departure</h5>
                                            <span class="card-title">{{paramDetails.departureTime}}</span>
                                        </div>
                                       
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <h5 class="card-title text-info">Arrival</h5>
                                            <span class="card-title">{{paramDetails.arrivalTime}}</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <h5 class="card-title text-info">Price</h5>
                                            <span class="card-title">&#x20b9;{{paramDetails.price}}</span>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            <!-- <div class="col-sm-12">
                                <p>{{flightDeatils.departureLocation}} - {{flightDeatils.arrivalLocation}} |
                                    {{flightDeatils.departureDate | date:'d/M/y'}}</p>
                            </div>
                            <div class="col-sm-4">
                                <h5>{{flightDeatils.flightName}}</h5>
                            </div>
                            <div class="col-sm-8">
                                <span class="mr-5">
                                    <b>{{flightDeatils.departureLocation}}</b>
                                </span>
                                <span>
                                    <b>{{flightDeatils.arrivalLocation}}</b>
                                </span>
                            </div> -->
                        </div>
                    </div>
                </div>

            </div>

            <div class="row pb-5 d-block">
                <form [formGroup]="dynamicForm">
                    <div class="card m-3">
                        <h5 class="card-header text-warning">Passenger Details</h5>
                        <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
                            <div class="list-group-item">
                                <b class="card-title">Passenger {{i + 1}}</b>
                                <div [formGroup]="ticket" class="form-row">
                                    <div class="form-group col-6">
                                        <label>Name</label>
                                        <input type="text" formControlName="passengerName" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && ticket.controls.passengerName.errors }" />
                                        <div *ngIf="submitted && ticket.controls.passengerName.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="ticket.controls.passengerName.errors.required">Name is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Age</label>
                                        <input type="text" formControlName="passengerAge" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && ticket.controls.passengerAge.errors }" />
                                        <div *ngIf="submitted && ticket.controls.passengerAge.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="ticket.controls.passengerAge.errors.required">Age is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card m-3">               
                <h5 class="card-header text-success">Price Summary</h5>
                <div class="card-body p-0 my-1">
                    <p class="border-bottom"><span class="ml-1">Ticket Fair</span> <span
                        class="float-right mr-1">&#x20b9;{{paramDetails.price}}</span>
                    </p>
                    <p class="border-bottom"><span class="ml-1">Number of Passengers</span> <span
                        class="float-right mr-1">{{paramDetails.noOfPassenger}}</span>
                    </p>
                    <p class="border-bottom"><span class="ml-1">Tax(GST: 5%)</span><span
                            class="float-right mr-1">&#x20b9;{{taxPrice}}</span>
                    </p>
                    <p class="text-info"><b class=" ml-1">Grand Total</b> <b class="float-right mr-1">&#x20b9;{{totalPrice}}</b>
                    </p>
                </div>
            </div>
            <div class="my-5 px-4" *ngIf="checkLogin">
                <button class="btn-success btn btn-block" [disabled]="submitted" (click)="addPassenger()">Continue Booking</button>
            </div>
            <div class="my-5 px-4" *ngIf="checkbeforeLogin">
                <button class="btn-success btn btn-block" (click)="onSubmit()">Login to Continue Booking</button>
            </div>

            <div class="card m-3 marginb40">
                <h5 class="card-header text-danger">Payment Method</h5>
                <div class="card-body p-0 my-1">
                    <form [formGroup]="paymenttype" class="mx-5">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" #rad1 type="radio" name="exampleRadios" id="exampleRadios1"
                                value="paytm" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                PayTm
                            </label>    
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" #rad2 type="radio"  name="exampleRadios" id="exampleRadios2"
                                value="googlepay">
                            <label class="form-check-label" for="exampleRadios2">
                                Google Pay
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" #rad3 type="radio"  name="exampleRadios" id="exampleRadios3"
                                value="bhim">
                            <label class="form-check-label" for="exampleRadios3">
                                BHIM/UPI
                            </label>
                        </div>
                        <p class="text-center mt-4"><button class="btn-danger btn" (click)="payment(rad1.checked ? rad1.value : rad2.checked ? rad2.value : rad3.checked ? rad3.value : null)">Pay</button>
                        </p>
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>

<p-dialog header="Login" [(visible)]="loginScreen" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <form [formGroup]="loginForm" (ngSubmit)="validateLogin();">
        <div class="form-group">
            <label for="exampleInputEmail1">Mobile Number</label>
            <input type="text" class="form-control" formControlName="username" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter Mobile Number" required>
                <div *ngIf="login.username.touched && login.username.invalid" class="error">
                    <div *ngIf="login.username.errors && login.username.errors.required">
                        Mobile Number is <strong>required</strong>
                    </div>
                </div>
                <div *ngIf="login.username.touched && login.username.invalid" class="error">
                    <div *ngIf="login.username.errors && login.username.errors.minlength">
                       Minimum 10 digit is <strong>required</strong>
                    </div>
                </div>
                <div *ngIf="login.username.touched && login.username.invalid" class="error">
                    <div *ngIf="login.username.errors && login.username.errors.maxlength">
                       Maximum 10 digit is <strong>required</strong>
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
                placeholder="Password" required>
                <div *ngIf="login.password.touched && login.password.invalid" class="error">
                    <div *ngIf="login.password.errors && login.password.errors.required">
                        Password is <strong>required</strong>
                    </div>
                </div>
                <div *ngIf="login.password.touched && login.password.invalid" class="error">
                    <div *ngIf="login.password.errors && login.password.errors.minlength">
                        Minimum 8 digit is <strong>required</strong>
                    </div>
                </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" pButton icon="pi pi-check" label="Login"></button>
        <button type="button" pButton icon="pi pi-times" (click)="loginScreen=false" label="Cancel"
            class="ui-button-secondary"></button>
    </form>
</p-dialog>

<app-loader [loader]="loader"></app-loader>
<app-alert [sharedAlert]="flightService.showAlert" *ngIf="flightService.showAlert?.modalShow"></app-alert>